#nav-bar {
  background-color: black;
  overflow: hidden;
}
#nav-container {
  float: left;
  width: 100%;
  position: relative;
}
#nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
  font-family: 'DotGothic16', sans-serif;
}
#nav-bar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}
#nav-bar ul li a {
  display: block;
  padding: 10px 20px;
  color:#fff;
  text-decoration: none;
}
#nav-bar ul li a:hover{
  background-color: #114dc3;
}
#highlight {
  text-decoration: none;
  color: white;
}
body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 25px;
  color: #114dc3;
  line-height: 120%;
  clear: both;
  list-style-type: none;
}
#main {
  background-color: white;
  padding: 2% 20%;
  padding-left: 10%
}
#main ul {
  list-style-type: none;
}
h1,h2,h3 {
  font-family: 'Lekton', sans-serif;
}
.img {
  height: 100%;
  width: 100%;
}
#imgofme {
  height: auto;
  width: 10%;
  object-fit: contain;
  float: left;
  border-radius: 30%;
  margin: 5%;
}
iframe {
  height: 400px;
  width: 600px;
  border: 0;
  position: static;
}